<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <!-- การตั้งค่าการทดสอบ -->
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory> <!-- กำหนดโฟลเดอร์สำหรับไฟล์ทดสอบ -->
        </testsuite>
    </testsuites>

    <!-- การตั้งค่าสำหรับ Environment Variables -->
    <php>
        <!-- ตัวแปรสภาพแวดล้อมที่ต้องการใช้ในระหว่างการทดสอบ -->
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_DATABASE" value="aquarium"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value="root"/>
    </php>

    <!-- กำหนดการตั้งค่าการแสดงผล -->
    <logging>
        <log type="coverage-html" target="coverage-report" />
        <log type="junit" target="tests/junit.xml"/>
    </logging>

</phpunit>
